@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #df3c3c;
  --secondary: #00071d;
  --white: white;
  --text: #818ebd;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 50px;
}

a:hover,
button:hover {
  transition: 300ms ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  background-color: var(--secondary);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.section__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  overflow: visible;
}
.header {
  width: 100%;
  position: fixed;
  left: 0em;
  background-color: var(--secondary);
  z-index: 9999;
}

.header__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 1em 2em;
}

.header__content__logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0em;
  border: none;
  cursor: pointer;
}
.header__content__logo__slogan {
  width: 40px;
  height: 35px;
  color: var(--white);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 0.5em;
}

.header__content__logo__text {
  color: var(--white);
  font-size: 20px;
}

.header__content__nav {
  display: flex;
  align-items: center;
}

.header__content__nav__link {
  position: relative;
}

.header__content__nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
}

.header__content__nav__link__content {
  color: var(--text);
  font-size: 15px;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__content__nav__link__content:after {
  content: "";
  position: absolute;
  top: 32px;
  left: 15px;
  width: 0px;
  height: 1px;
  background-color: var(--primary);
}
.header__content__nav__link__input:hover
  ~ .header__content__nav__link__content {
  transition: 300ms ease-in-out;
  color: white;
}
.header__content__nav__link__input:checked
  ~ .header__content__nav__link__content {
  transition: 300ms ease-in-out;
  color: white;
}
.header__content__nav__link__input:checked
  ~ .header__content__nav__link__content::after {
  transition: 300ms ease-in-out;
  width: calc(100% - 30px);
}

.header__content__actions {
  display: flex;
  align-items: center;
}
.header__content__actions__link {
  margin-left: 1em;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__actions__link span {
  display: none;
}
.header__content__actions__link:hover {
  color: var(--primary);
}
.header__content__actions__btn {
  padding: 0.5em 1.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--primary);
  margin-left: 1em;
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.header__content__actions__btn:hover {
  background-color: var(--primary);
}
.header__content__menu {
  width: 40px;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0em;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--white);
  margin-left: 1em;
  cursor: pointer;
}
.header__content__menu:hover {
  background-color: var(--primary);
}
.home__section__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.home__section__wrapper svg {
  position: absolute;
  bottom: -50px;
  left: 0px;
  width: 110%;
  z-index: 0;
  fill: #000414;
}
.home__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
  padding-top: 5em;
  padding-bottom: 1em;
}

.home__section__left {
  width: 50%;
  padding-bottom: 7em;
  z-index: 1;
}
.home__section__left__sub__heading {
  font-size: 18px;
  color: var(--text);
}
.home__section__left__heading {
  font-size: 50px;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
}
.home__section__left__heading span {
  color: var(--primary);
}
.home__section__left__heading span .react-typewriter-text {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}
.home__section__left__info {
  font-size: 18px;
  color: var(--text);
  margin-bottom: 3em;
}
.home__section__left__button {
  padding: 0.7em 1.5em;
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
  width: fit-content;
}
.home__section__left__button:hover {
  background-color: var(--secondary);
}
.home__section__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 30%;
  overflow: hidden;
  animation: 500ms home__section__right__animate__in;
  position: relative;
}
@keyframes home__section__right__animate__in {
  from {
    width: 0px;
    transform: scale(0.1);
    background-color: var(--secondary);
  }
  to {
    width: 50%;
    transform: scale(1);
    background-color: var(--secondary);
  }
}
.home__section__right::after {
  content: "";
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background-color: var(--primary);
  border-radius: 50px;
}
.home__section__right::before {
  content: "";
  position: absolute;
  top: 80px;
  right: 80px;
  width: 80px;
  height: 80px;
  background-color: var(--primary);
  border-radius: 30px;
}
.home__section__right__img {
  height: 650px;
}
.about__section__wrapper {
  background-color: #000414;
}
.about__section {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  display: flex;
  align-items: center;
  padding: 8em 2em;
  margin-top: -5em;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}
.about__section__left {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.about__section__left__img {
  height: 400px;
  border-radius: 30px;
}
.about__section__left__experience {
  position: absolute;
  top: 50px;
  left: 0px;
}
.about__section__left__experience svg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -110px;
  left: 6px;
  fill: var(--secondary);
}
.about__section__left__experience__overlay {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  color: var(--text);
}
.about__section__left__experience__overlay span {
  font-size: 25px;
  color: var(--primary);
  font-weight: bold;
}
.about__section__left__projects {
  position: absolute;
  top: 150px;
  right: 300px;
}
.about__section__left__projects svg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -110px;
  left: -5px;
  fill: var(--secondary);
}
.about__section__left__projects__overlay {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  color: var(--text);
}
.about__section__left__projects__overlay span {
  font-size: 25px;
  color: var(--primary);
  font-weight: bold;
}
.about__section__left__clients {
  position: absolute;
  bottom: 50px;
  left: 0px;
}
.about__section__left__clients svg {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -110px;
  left: 6px;
  fill: var(--secondary);
}
.about__section__left__clients__overlay {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  color: var(--text);
}
.about__section__left__clients__overlay span {
  font-size: 25px;
  color: var(--primary);
  font-weight: bold;
}
.about__section__right {
  width: 50%;
}
.about__section__right__sub__heading {
  font-size: 18px;
  color: var(--text);
}
.about__section__right__heading {
  font-size: 30px;
  color: var(--primary);
  margin: 0.5em 0em;
  margin-top: 0.1em;
}
.about__section__right__info {
  font-size: 15px;
  color: var(--text);
  width: 100%;
  max-width: 600px;
}
.about__section__right__languages {
  font-size: 15px;
  color: var(--text);
  width: 100%;
  max-width: 600px;
  margin-top: 1.5em;
}
.about__section__right__languages span {
  color: var(--white);
}
.about__section__right__tools {
  font-size: 15px;
  color: var(--text);
  width: 100%;
  max-width: 600px;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.about__section__right__tools span {
  color: var(--white);
}
.about__section__right__button {
  padding: 0.5em 1.5em;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--white);
  text-decoration: none;
}
.about__section__right__button:hover {
  background-color: var(--primary);
}
.services__section__wrapper {
  background: linear-gradient(#000414, transparent);
}
.services__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  margin-top: -5em;
}
.services__section__sub__heading {
  font-size: 18px;
  color: var(--text);
  width: 100%;
  text-align: center;
  padding-top: 8em;
}
.services__section__heading {
  font-size: 30px;
  color: var(--primary);
  width: 100%;
  text-align: center;
}
.services__section__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0em 2em;
  padding-top: 2em;
  flex-wrap: wrap;
}
.services__section__content__entry {
  background-color: var(--secondary);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em;
  width: 24%;
  margin-right: 1%;
  margin-bottom: 1.5em;
}
.services__section__content__entry__icon {
  color: var(--primary);
}
.services__section__content__entry__sub__heading {
  color: var(--text);
  font-size: 14px;
  margin-top: 1em;
}
.services__section__content__entry__heading {
  color: var(--white);
  font-size: 24px;
  margin: 0.3em 0em;
}
.services__section__content__entry__info {
  color: var(--text);
  font-size: 14px;
}
.services__section__content__entry:last-child {
  margin-right: 0em;
}
.services__section__content__entry:hover {
  transition: 300ms ease-in-out;
  background-color: var(--primary);
}
.services__section__content__entry:hover * {
  transition: 300ms ease-in-out;
  color: var(--white) !important;
}
.portfolio__section {
  display: flex;
  flex-direction: column;
  padding: 0em 2em;
  margin-top: -6em;
  padding-top: 9em;
  padding-bottom: 2em;
}
.portfolio__section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.portfolio__section__header__left {
  display: flex;
  flex-direction: column;
}
.portfolio__section__header__left__sub__heading {
  font-size: 18px;
  color: var(--text);
}
.portfolio__section__header__left__heading {
  font-size: 30px;
  color: var(--primary);
}
.portfolio__section__header__middle {
  display: flex;
  background-color: #000414;
  padding: 0.8em 2em;
  border-radius: 10px;
}
.portfolio__section__header__middle__entry {
  position: relative;
}
.portfolio__section__header__middle__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.portfolio__section__header__middle__entry__content {
  color: var(--text);
  font-size: 14px;
  padding: 0.5em 1em;
  position: relative;
}
.portfolio__section__header__middle__entry__content::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 12px;
  width: 0px;
  height: 1px;
  background-color: var(--primary);
}
.portfolio__section__header__middle__entry__input:checked
  ~ .portfolio__section__header__middle__entry__content {
  color: var(--white);
}
.portfolio__section__header__middle__entry__input:checked
  ~ .portfolio__section__header__middle__entry__content::after {
  transition: 300ms ease-in-out;
  width: calc(100% - 25px);
}
.portfolio__section__header__right {
  display: flex;
  align-items: center;
}
.portfolio__section__header__right__button {
  padding: 1.2em;
  border-radius: 5px;
  color: var(--text);
  background-color: #000414;
  border: none;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.portfolio__section__header__right__button:hover {
  background-color: var(--primary);
  color: var(--white);
}
.portfolio__section__content__entry {
  width: 350px;
  min-height: fit-content;
  padding: 2em;
  background-color: var(--secondary);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  user-select: none;
  border: 1px solid #000414;
}
.portfolio__section__content__entry__heading {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 0.8em;
}
.portfolio__section__content__entry__heading svg {
  margin-right: 0.7em;
  stroke: var(--primary);
}
.portfolio__section__content__entry__info {
  font-size: 14px;
  color: var(--text);
  word-break: break-all;
  margin-bottom: 0.8em;
  min-height: 100px;
}
.portfolio__section__content__entry__content {
  font-size: 14px;
  color: var(--white);
  word-break: break-all;
  margin-bottom: 2em;
  margin-left: 1.5em;
  position: relative;
}
.portfolio__section__content__entry__content::before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50px;
}
.portfolio__section__content__entry__buttons {
  display: flex;
  align-items: center;
}
.portfolio__section__content__entry__button {
  padding: 0.5em 1em;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--primary);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 1em;
}
.portfolio__section__content__entry__button svg {
  margin-right: 0.5em;
}
.portfolio__section__content__entry__button:hover {
  background-color: var(--primary);
}
.portfolio__section__content__entry:hover {
  border-color: var(--primary);
}
.experience__page__special {
  background-color: #000414;
  padding: 2em;
  color: var(--text);
  text-align: center;
}
.experience__page {
  background-color: #000414;
  padding: 2em;
  color: var(--text);
}
.experience__page__heading {
  color: var(--primary);
  font-size: 25px;
  margin-bottom: 0.7em;
  text-align: center;
}
.experience__page__sub__heading {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.experience__page__info {
  color: var(--white);
  font-size: 15px;
  margin-bottom: 0.5em;
}
.experience__page__content {
  border-bottom: 1px solid rgba(129, 142, 189, 0.3);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.clients__section {
  padding: 8em 2em;
  margin-top: -10em;
  display: flex;
  flex-direction: column;
}
.clients__section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
.clients__section__header__left {
  display: flex;
  flex-direction: column;
}
.clients__section__header__left__sub__heading {
  font-size: 18px;
  color: var(--text);
}
.clients__section__header__left__heading {
  font-size: 30px;
  color: var(--primary);
}
.clients__section__header__right {
  padding: 0.7em 1.8em;
  color: var(--white);
  font-size: 14px;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
}
.clients__section__header__right:hover {
  background-color: var(--primary);
}
.clients__section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blog__section {
  display: flex;
  flex-direction: column;
  padding: 8em 2em;
  margin-top: -8em;
}
.blog__section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
.blog__section__header__sub__heading {
  font-size: 18px;
  color: var(--text);
}
.blog__section__header__heading {
  font-size: 30px;
  color: var(--primary);
}
.blog__section__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -3em;
}
.blog__section__content__entry {
  width: calc(33% - 2em);
  margin-right: 2em;
  background-color: #000414;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
  margin-bottom: 2em;
}
.blog__section__content__entry__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 12px 12px 0px 0px;
}
.blog__section__content__entry__image__img {
  width: 100%;
  min-height: 100%;
}
.blog__section__content__entry__content {
  padding: 1.5em;
}
.blog__section__content__entry__heading {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 0.5em;
}
.blog__section__content__entry__content__row {
  display: flex;
  align-items: center;
  color: var(--text);
}
.blog__section__content__entry__content__dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: var(--primary);
  margin: 0em 1em;
}
.blog__section__content__entry:hover {
  transition: 300ms ease-in-out;
  border-color: var(--primary);
}
.contact__section__wrapper {
  width: 100%;
  position: relative;
  background-color: var(--primary);
}
.contact__section__wrapper > svg {
  width: 100%;
  fill: var(--primary);
  position: absolute;
  top: -230px;
  z-index: -1;
}
.contact__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
  padding-bottom: 5em;
}
.contact__section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.contact__section__header__sub__heading {
  font-size: 18px;
  color: var(--white);
}
.contact__section__header__heading {
  font-size: 35px;
  color: var(--secondary);
}
.contact__section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__section__content__left {
  flex: 1;
  max-width: 550px;
  margin-right: 3em;
}
.contact__section__content__left__heading {
  font-size: 20px;
  color: var(--secondary);
  margin-bottom: 1em;
}
.contact__section__content__left__input {
  border-bottom: 1px solid var(--secondary);
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  height: 40px;
}

.contact__section__content__left__textarea {
  border-bottom: 1px solid var(--secondary);
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  height: 120px;
}
.contact__section__content__left__input__label {
  position: absolute;
  top: 10px;
  left: 0px;
  color: var(--secondary);
  font-size: 14px;
  background-color: var(--primary);
  z-index: 0;
  user-select: none;
}
.contact__section__content__left__input__field {
  flex: 1;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: var(--white);
}
.contact__section__content__left__input__field:-webkit-autofill,
.contact__section__content__left__input__field:-webkit-autofill:hover,
.contact__section__content__left__input__field:-webkit-autofill:active,
.contact__section__content__left__input__field:-webkit-autofill:focus {
  background-color: var(--primary) !important;
  color: #ffffff !important;
  box-shadow: 0 0 0 1000px var(--primary) inset !important;
  -webkit-box-shadow: 0 0 0 1000px var(--primary) inset !important;
  -webkit-text-fill-color: #ffffff !important;
}
.contact__section__content__left__input__field::placeholder {
  color: var(--secondary);
}
.contact__section__content__left__textarea
  .contact__section__content__left__input__field {
  margin-top: 0.7em;
  height: calc(100% - 1em);
  min-height: calc(100% - 1em);
  resize: none;
  margin-bottom: 0.3em;
}
.contact__section__content__left__textarea
  .contact__section__content__left__input__field::-webkit-scrollbar {
  width: 5px;
}
.contact__section__content__left__textarea
  .contact__section__content__left__input__field::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 50px;
}
.contact__section__content__left__textarea
  .contact__section__content__left__input__field::-webkit-scrollbar-track {
  background-color: transparent;
}
.contact__section__content__left__input:hover {
  border-color: var(--white);
}
.contact__section__content__left__input:focus-within {
  border-color: var(--white);
}
.contact__section__content__left__input:focus-within
  .contact__section__content__left__input__label {
  transition: 300ms ease-in-out;
  top: -10px;
  color: var(--white);
  z-index: 10;
}
.contact__section__content__left__textarea:hover {
  border-color: var(--white);
}
.contact__section__content__left__textarea:focus-within {
  border-color: var(--white);
}
.contact__section__content__left__textarea:focus-within
  .contact__section__content__left__input__label {
  transition: 300ms ease-in-out;
  top: -10px;
  color: var(--white);
}
.contact__section__content__left__button {
  background-color: var(--secondary);
  padding: 0.9em 2em;
  color: var(--white);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}
.contact__section__content__left__button:hover {
  background-color: var(--white);
  color: var(--secondary);
}
.contact__section__content__right {
  flex: 1;
  background-color: var(--secondary);
  padding: 3em;
  border-radius: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}
.contact__section__content__right__entry {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
}
.contact__section__content__right__entry:last-child {
  margin-bottom: 0em;
}
.contact__section__content__right__entry__icon {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  margin-right: 1em;
}
.contact__section__content__right__entry__content {
  display: flex;
  flex-direction: column;
}
.contact__section__content__right__entry__content__entry {
  font-size: 14px;
  color: var(--text);
  margin-bottom: 0.5em;
}
.contact__section__content__right__entry__content__entry:last-child {
  margin-bottom: 0em;
}
.footer__section__wapper {
  width: 100%;
  background-color: var(--primary);
}
.footer__section {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--secondary);
}
.footer__section__left {
  display: flex;
  margin-left: -1em;
}
.footer__section__left .header__content__actions__link {
  color: var(--secondary);
}
.footer__section__left .header__content__actions__link:hover {
  color: var(--white);
}
.footer__section__right {
  color: var(--secondary);
}

@media (max-width: 1250px) {
  .services__section__content__entry {
    width: 32%;
  }
  .services__section__content__entry:nth-child(3) {
    margin-right: 0em;
  }
}
@media (max-width: 1150px) {
  .about__section__left__experience {
    left: -50px;
  }
  .about__section__left__projects {
    right: 250px;
  }
  .about__section__left__clients {
    left: -50px;
  }
  .contact__section__wrapper svg {
    top: -150px;
  }
  .contact__section__content__right {
    max-width: 400px;
  }
}
@media (max-width: 1000px) {
  .header__content__menu {
    display: flex;
  }
  .header__content__actions__btn {
    display: none;
  }
  .header__content__nav {
    position: absolute;
    top: 60px;
    background-color: var(--secondary);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    flex-direction: column;
    right: 29px;
    padding: 1em;
    width: 150px;
  }
  .home__section__right::after {
    width: 120px;
    height: 120px;
  }
  .home__section__right::before {
    width: 50px;
    height: 50px;
    top: 50px;
    right: 50px;
    border-radius: 20px;
  }
  .home__section__right__img {
    height: 550px;
  }
  .about__section {
    flex-direction: column;
  }
  .about__section__left {
    width: 100%;
  }
  .about__section__right {
    width: 100%;
    margin-top: 8em;
  }
  .services__section__content__entry {
    width: 49%;
  }
  .services__section__content__entry:nth-child(2) {
    margin-right: 0em;
  }
  .services__section__content__entry:nth-child(3) {
    margin-right: 1%;
  }

  .portfolio__section__header__right {
    display: none;
  }
  .blog__section__content__entry {
    width: calc(50% - 2.5em);
  }
}
@media (max-width: 800px) {
  .contact__section__content {
    flex-direction: column;
  }
  .contact__section__content__left {
    max-width: 100%;
    width: 100%;
    margin-right: 0em;
  }
  .contact__section__content__right {
    width: 100%;
    max-width: 100%;
    margin-top: 3em;
  }
  .home__section {
    flex-direction: column;
  }
  .home__section__left {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 0em;
  }
  .home__section__left__heading {
    justify-content: center;
  }
  .home__section__right {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .home__section__right {
    width: 100%;
  }
  .contact__section__wrapper svg {
    top: -100px;
  }
}
@media (max-width: 600px) {
  .portfolio__section__header {
    flex-direction: column;
  }
  .portfolio__section__header__left {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
  .blog__section__content__entry {
    width: calc(100% - 2.5em);
  }
}
@media (max-width: 550px) {
  .services__section__content__entry {
    width: 100%;
  }
  .clients__section__header {
    flex-direction: column;
  }
  .clients__section__header__left {
    text-align: center;
    margin-bottom: 1em;
  }
  .clients__section__header__right {
    min-width: 50%;
  }
  .footer__section {
    flex-direction: column;
  }
  .footer__section__left {
    justify-content: center;
    margin-bottom: 1em;
  }
  .footer__section__right {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contact__section__wrapper svg {
    top: -70px;
  }
  .portfolio__section__content__entry {
    width: 100%;
  }
  .services__section__content__entry {
    width: 100%;
  }
  .about__section__left {
    margin-top: 4em;
  }
  .about__section__left__experience {
    left: -80px;
    top: 0px;
  }
  .about__section__left__experience svg {
    width: 250px;
    height: 250px;
    top: -90px;
    left: 30px;
  }
  .about__section__left__projects {
    right: 200px;
  }
  .about__section__left__projects svg {
    width: 250px;
    height: 250px;
    top: -90px;
    left: 20px;
  }
  .about__section__left__clients {
    left: -80px;
  }
  .about__section__left__clients svg {
    width: 250px;
    height: 250px;
    top: -90px;
    left: 30px;
  }
  .about__section__left__img {
    height: 300px;
  }
  .home__section__right::after {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  .home__section__right::before {
    width: 50px;
    height: 50px;
    top: 45px;
    right: 45px;
    border-radius: 20px;
  }
  .home__section__left__heading {
    font-size: 35px;
  }
  .home__section__right__img {
    height: 400px;
  }
  .home__section__left__heading span .react-typewriter-text {
    font-size: 35px;
  }
  .header__content__logo__text {
    display: none;
  }
  .blog__section__content {
    margin-right: -2em;
  }
  .blog__section__content__entry__image {
    height: 200px;
  }
  .stf__parent {
    display: none !important;
  }
  .section {
    padding-right: 1em;
    padding-left: 1em;
  }
  .contact__section__content__right__entry {
    flex-direction: column;
  }
  .contact__section__content__right__entry__icon {
    margin-right: 0em;
    margin-bottom: 1em;
  }
  .contact__section__content__right__entry__content__entry {
    text-align: center;
    word-break: break-all;
  }
}
@media (max-width: 350px) {
  .contact__section__wrapper svg {
    top: -50px;
  }
}
@media (max-width: 250px) {
  .contact__section__wrapper svg {
    top: -35px;
  }
}
